<!DOCTYPE html>
<html>
	<head>
	<title>@ViewBag.Title</title>
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2017.1.223/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2017.1.223/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2017.1.223/kendo.blueopal.min.css")" rel="stylesheet" type="text/css" />
	    	<link href="@Url.Content("~/Content/kendo/2017.1.223/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
	    <link href="@Url.Content("~/Content/kendo/2017.1.223/console.css")" rel="stylesheet" type="text/css" />
	    
	<script src="@Url.Content("~/Scripts/kendo/2017.1.223/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2017.1.223/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.1.223/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2017.1.223/kendo.aspnetmvc.min.js")"></script>
	    <script src="@Url.Content("~/Scripts/kendo/2017.1.223/kendo.culture.en-AU.min.js")"></script>
	    


	    @*
    <script src="@Url.Content("~/Scripts/kendo/2017.1.223/console.js")"></script>
        *@
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
	 @*   <script src="@Url.Content("~/Scripts/jquery-3.2.1.js")"></script>*@
@*        <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
	    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
    <script>kendo.culture("en-AU");</script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
	<body>
		<header>
			<div class="content-wrapper">
			    <div class="float-left">
			        <div style="position: relative">
				            <img src="/Images/mecca_brands_logo_360x140.png" style="width: 135px; height: auto; margin: 0px 8px 0px 8px;" alt="C3"/>
				    </div>
			        <p class="site-title">
			            @Html.ActionLink("Campaign Management Tool", "Index", "Home")
			        </p>
			    </div>
			    <div class="float-right">
			        <section id="login">
                       Hello, <span class="username">@User.Identity.Name</span>
                    </section>
			        <nav>
			            <ul id="menu">
			                <li>@Html.ActionLink("Campaigns", "Campaign", "Campaign")</li>
                            <li>@Html.ActionLink("Campaign Items", "CampaignItems", "Campaign")</li>
			                <li>@Html.ActionLink("Segments", "Channel", "Channel")</li>
                            <li>@Html.ActionLink("Segment Items", "ChannelItems", "Channel")</li>
			                <li>@Html.ActionLink("Segment Customers", "ChannelCustomer", "Channel")</li>
			                <li>@Html.ActionLink("Archived Campaigns", "ArchivedCampaigns", "Campaign")</li>
                            @*<li>@Html.ActionLink("Overview", "CampaignOverview", "Overview")</li>*@
			            </ul>
			        </nav>
			    </div>
			</div>
		</header>
		<div id="body">
			@RenderSection("featured", required: false)
			<section class="content-wrapper main-content clear-fix">
				@RenderBody()
			</section>
		</div>

		<footer>
			<div class="content-wrapper">
				<div class="float-left">
					<p>&copy; @DateTime.Now.Year - Cosmetics Cubed Pty Ltd</p>
				</div>
			</div>
		</footer>
	</body>
</html>
